<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="width: 550px;margin: 0  auto 30px auto; text-align: center;">
        <h1>This is all post</h1>
        <p>You can controll forward and back from here</p>
    </div>
    <ul style="width: 500x;
        margin: 0 auto;
        text-align: center; list-style: none">
        <% for(let i = 0;i<posts.length;i++){ %>
            <li style="padding: 8px 0;"><a href="/posts/<%- posts[i].id %>"><%- posts[i].title %></a></li>
        <% } %>
    </ul>
</body>
</html>