<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="post-card" style="width: 500x;
        margin: 0 auto;
        text-align: center">
        <% if(!post) { %>
            <h1>Post not Found</h1>
        <% }else{ %>
        <h1><%- post.title %></h1>
        <p><%- post.content %></p>
        <% } %>

        <a href="/posts">Back</a>
    </div>
</body>
</html>