<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= <div style="width: 500x;
    margin: 0 auto;
    text-align: center; list-style: none">
        <h3>Here you have all product list</h3>
        <p>Product list</p>
    </div>
    <ul style="width: 500x;
        margin: 0 auto;
        text-align: center; list-style: none">
        <% for(let i = 0;i<products.length;i++){ %>
            <li style="padding: 8px 0;">
                <h3><%- products[i].catagory %></h3>
                <p><%- products[i].quntaty %></p>
            </li>
        <% } %>
    </ul>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>